#Cadence files
*.oa.cdslck.*
*.lock*
INCA*
*pak
.nfs*
*.cdslck
*cdslck*
*.cd%
*.cd-
*.oa-
*.cat%
*.abstract.stetus
*.abstract.messages
*.inca*
.cdsvmod
expand.cfg%
*.oacache
.cadence
.inca*
zviadrag*
ASSURA/
\#24umit_Ox
.assura*
.lvs*
ncvlog.log
ConnectedPinslog.txt
UnConnectedPinslog.txt

#Cliosoft
.SOS
sos.log
,/history.out
audit_trail.html
DM
update_summary.out

#svn
.svn

#ADEXL
#Job.log
#Job.log.*
.tmp_*
#.sevSaveDir
#test_states/
MonteCarlo.*.lod
MonteCarlo.*.rdb
#/.project
#.cdsenv
#.cdsinit_custem
#display.drf





